<div class="form-container">
    <!-- <div class="smtitle">
      <h5><b>SM RO Detail</b></h5>
    </div> -->
  
  <div class="row">
    <div class="col-12 table-container">
      <mat-table [dataSource]="datasource" class="mat-elevation-z8 rodetails" matSort (matSortChange)="sortTable($event)">

        <ng-container matColumnDef="RO_NUMBER">
          <mat-header-cell *matHeaderCellDef mat-sort-header><b>RO NUMBER</b></mat-header-cell>
          <mat-cell *matCellDef="let x">
            {{ x.RO_NUMBER }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="ORDER_STATUS">
          <mat-header-cell *matHeaderCellDef mat-sort-header><b>ORDER STATUS</b></mat-header-cell>
          <mat-cell *matCellDef="let x">
            {{ x.ORDER_STATUS }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="ME_PART_NUMBER">
          <mat-header-cell *matHeaderCellDef mat-sort-header><b>ME PART NUMBER</b></mat-header-cell>
          <mat-cell *matCellDef="let x">
            {{ x.ME_PART_NUMBER }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="ME_SERIAL_NUMBER">
          <mat-header-cell *matHeaderCellDef mat-sort-header><b>ME SERIAL NUMBER</b></mat-header-cell>
          <mat-cell *matCellDef="let x">
            {{ x.ME_SERIAL_NUMBER }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="SHIP_STATION">
          <mat-header-cell *matHeaderCellDef mat-sort-header><b>SHIP STATION</b></mat-header-cell>
          <mat-cell *matCellDef="let x">
            {{ x.SHIP_STATION }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="RO_REQUEST_DATE">
          <mat-header-cell *matHeaderCellDef mat-sort-header><b>RO REQUEST DATE</b></mat-header-cell>
          <mat-cell *matCellDef="let x">
            {{ x.RO_REQUEST_DATE | date :'yyyy-MM-dd' }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="RO_RECEIVED_QTY">
          <mat-header-cell *matHeaderCellDef mat-sort-header><b>RO RECEIVED QTY</b></mat-header-cell>
          <mat-cell *matCellDef="let x">
            {{ x.RO_RECEIVED_QTY }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="TAT">
          <mat-header-cell *matHeaderCellDef mat-sort-header><b>TAT</b></mat-header-cell>
          <mat-cell *matCellDef="let x">
            {{ x.TAT }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="DATE_REMOVED">
          <mat-header-cell *matHeaderCellDef mat-sort-header><b>DATE REMOVED</b></mat-header-cell>
          <mat-cell *matCellDef="let x">
            {{ x.DATE_REMOVED | date :'yyyy-MM-dd' }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="REMOVED_AIRCRAFT_NUMBER">
          <mat-header-cell *matHeaderCellDef mat-sort-header><b>REMOVED AIRCRAFT NUMBER</b></mat-header-cell>
          <mat-cell *matCellDef="let x">
            {{ x.REMOVED_AIRCRAFT_NUMBER }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="REMOVED_ALPHA_STATION">
          <mat-header-cell *matHeaderCellDef mat-sort-header><b>REMOVED ALPHA STATION</b></mat-header-cell>
          <mat-cell *matCellDef="let x">
            {{ x.REMOVED_ALPHA_STATION }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="DAYLATE">
          <mat-header-cell *matHeaderCellDef mat-sort-header><b>DAYLATE</b></mat-header-cell>
          <mat-cell *matCellDef="let x">
            {{ x.DAYLATE }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="RO_OPEN_QTY">
          <mat-header-cell *matHeaderCellDef mat-sort-header><b>RO OPEN QTY</b></mat-header-cell>
          <mat-cell *matCellDef="let x">
            {{ x.RO_OPEN_QTY }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="RO_RECEIVING_ALPHA_STATION">
          <mat-header-cell *matHeaderCellDef mat-sort-header><b>RO RECEIVING ALPHA STATION</b></mat-header-cell>
          <mat-cell *matCellDef="let x">
            {{ x.RO_RECEIVING_ALPHA_STATION }}
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="smRoDetail_displayedColumns; sticky: true;"></mat-header-row>
        <mat-row *matRowDef="let row; columns: smRoDetail_displayedColumns;"></mat-row>
      </mat-table>
    </div>
  </div>
</div>

