<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side">
    <app-ata-nav></app-ata-nav>
  </mat-sidenav>
  <mat-sidenav-content>
    <button (click)="sidenav.toggle()"><i class="fa fa-bars"></i></button>
    <div class="atatitle">
      <h5><b>ATA Search</b></h5>
    </div>
    <!-- <div class="atacontainer">
      <app-me-summary></app-me-summary>
      <div class="row">
        <div class="col-12 sectionspacer"></div>
      </div>
      <app-stock-data></app-stock-data>
      <div class="row">
        <div class="col-12 sectionspacer"></div>
      </div>
      <div class="row">
        <div class="col-12">
          <app-usage-data></app-usage-data>
        </div>
      </div>
      <div class="row">
        <div class="col-12 sectionspacer"></div>
      </div>
      <div class="row">
        <div class="col-12">
          <app-scraps></app-scraps>
        </div>
      </div>
      <div class="row">
        <div class="col-12 sectionspacer"></div>
      </div>
      <div class="row">
        <div class="col-12">
          <app-spares-analysis></app-spares-analysis>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <app-ses-expendable-shortage></app-ses-expendable-shortage>
        </div>
      </div>
      <div class="row">
        <div class="col-12 sectionspacer"></div>
      </div>
      <div class="row">
        <div class="col-12 whitespacer">

        </div>
      </div>
      <div class="row">
        <div class="atafooter">
          <app-ata-sticky-footer></app-ata-sticky-footer>
        </div>
      </div>

    </div> -->
  </mat-sidenav-content>
</mat-sidenav-container>
