<h2 mat-dialog-title>{{ data.dash8 }}</h2>
  <mat-dialog-content>
    <div class="row">
        <div class="col-12 mattablecontainer">
            <mat-table matTableExporter #exporter="matTableExporter" matSort [dataSource]="datasource"
              (matSortChange)="sortNextDueDataDetail($event)" class="mat-elevation-z8">

              <ng-container matColumnDef="STATION">
                <mat-header-cell *matHeaderCellDef mat-sort-header><b>STATION</b></mat-header-cell>
                <mat-cell *matCellDef="let x"> {{ x.STATION }} </mat-cell>
              </ng-container>
      
              <ng-container matColumnDef="SCHDLD_DATE">
                <mat-header-cell *matHeaderCellDef mat-sort-header><b>SCHEDULED DATE</b></mat-header-cell>
                <mat-cell *matCellDef="let x"> {{ x.SCHDLD_DATE | date:'yyyy-MM-dd' }} </mat-cell>
              </ng-container>
      
              <ng-container matColumnDef="AC">
                <mat-header-cell *matHeaderCellDef mat-sort-header><b>AC</b></mat-header-cell>
                <mat-cell *matCellDef="let x"> {{ x.AC }} </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="next_due_date_detail_displayedColumns; sticky: true;"></mat-header-row>
              <mat-row *matRowDef="let row; columns: next_due_date_detail_displayedColumns;"></mat-row>
            </mat-table>
          </div>
    </div>
  </mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-stroked-button mat-dialog-close mat-dialog-close="false" class="stroked-button" type="button" #closebtn (click)="closeDialog()">Close</button>
</mat-dialog-actions>


