<div class="melcontainer">
    <div class="datacontainer">
        <div class="row">
            <div class="col-2 datacenter">
                <b>M&E</b>
            </div>
            <div class="col-1 datacenter">
                <b>TAIL</b>
            </div>
            <div class="col-2 datacenter">
                <b>LOG PAGE</b>
            </div>
            <div class="col-1 datacenter">
                <b>CODE</b>
            </div>
            <div class="col-3 datacenter">
                <b>KEYWORD</b>
            </div>
            <div class="col-2 datacenter">
                <b>DROP DEAD DATE</b>
            </div>
            <div class="col-1 datacenter">
                <b>TIME REMAIN</b>
            </div>
        </div>
        <div class="row hoverable melrow " *ngFor="let mel of mel$ | async">
            <div class="col-2 datacenter">
                <a class="badge badge-secondary" routerLink="../ata/{{mel.ME_NBR.trim()}}" target="_blank" role="button">{{ mel.ME_NBR }}</a>
            </div>
            <div class="col-1 datacenter">
                {{ mel.TAIL }}
            </div>
            <div class="col-2 datacenter">
                {{ mel.LOG_PAGE }}
            </div>
            <div class="col-1 datacenter">
                {{ mel.CODE_1}}
            </div>
            <div class="col-3 datacenter">
                {{ mel.DESCRIPTION }}
            </div>
            <div class="col-2 datacenter">
                {{ mel.TWD }}
            </div>
            <div class="col-1 datacenter">
                {{ mel.TIME_REMAIN }}
            </div>
        </div>
    </div>
</div>

