<h2 mat-dialog-title>{{ data.value }}</h2>
  <mat-dialog-content>
    <div class="row">
        <div class="col-12 mattablecontainer">
            <mat-table [dataSource]="datasource" class="mat-elevation-z8">

              <ng-container matColumnDef="VALUE"> 
                <mat-header-cell *matHeaderCellDef><b>ME PART NUMBER</b></mat-header-cell>
                <mat-cell *matCellDef="let x"> 
                    <a mat-button color="primary" [routerLink]="['../ata/', x.VALUE.trim()]" class="" target="_blank">
                        {{ x.VALUE }}
                    </a>
                </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="splitme_displayedColumns; sticky: true;"></mat-header-row>
              <mat-row *matRowDef="let row; columns: splitme_displayedColumns;"></mat-row>
            </mat-table>
        </div>
    </div>
  </mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-stroked-button mat-dialog-close mat-dialog-close="false" class="stroked-button" type="button" #closebtn (click)="closeDialog()">Close</button>
</mat-dialog-actions>




