.datacontainer{
    font-size: 12px;
    margin: auto;
    min-width: 80%;
    max-width: 98%;
    position: relative;
    top: -75px;
}
.datacenter{
    text-align: center;
}
.dataright{
    text-align: right;
    position: relative;
    top: -25px;
    font-size: 10px;
}
.aprrow:nth-of-type(even){
    background-color: #f2f2f2;
  }
.hoverable:hover {
    color: #212529;
    background-color: rgba(0,0,0,.20);
}
.mattablecontainer{
    height: 250px;
    overflow: auto;    
}
.mat-header-cell{
    flex-direction: column;
    justify-content: center;
}
mat-footer-row, mat-row {
    min-height: 35px;
}
.mat-cell{
    font-size: 10px;
    text-align: center;
    justify-content: center;
    align-self: stretch;
}
.exportbtn{
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
}
.mebtn{
    /* display: inline-block; */
    padding: .25em .4em;
    font-size: 86%;
    font-weight: 700;
    line-height: 2;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    width: 75px !important;
    min-width: unset !important;
}
.mat-button-wrapper{
    position: relative;
    left: 10px;
}
.mat-header-cell{
    /* flex-direction: column;
    justify-content: center;
    color: #212529;
    border: 1px solid#dee2e6;
    background: lightgray; */
    color: #fff;
    background-color: #36495a!important;
    height: 50px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0px;
}
.mat-cell{
    font-size: 10px;
    text-align: center;
    justify-content: center;
    border: 1px solid#dee2e6;
}
.mat-row:nth-of-type(even){
    background-color: #f2f2f2;
}
.mat-row:hover {
    color: #212529;
    background-color: rgba(0,0,0,.20);
}
mat-cell:first-of-type, mat-footer-cell:first-of-type, mat-header-cell:first-of-type {
    padding-left: 0px;
}
mat-cell:last-of-type, mat-footer-cell:last-of-type, mat-header-cell:last-of-type {
    padding-right: 0px;
}
.mat-column-DASH_8
{
    width: 140px !important;
    flex: none !important;
}

.mat-column-DASH8_DESC{
    width: 190px !important;
    flex: none !important;
}
.mat-column-CURRENT_STATION_REQUIREMENT{
    width: 190px !important;
    flex: none !important;
}
.mat-column-REVISION_DATE{
    width: 120px !important;
    flex: none !important;
}
/* 
.mat-column-DAYSINQUEUE{
    width: 120px !important;
    flex: none !important;
}
.mat-column-DASH_8{
    width: 160px !important;
    flex: none !important;
} */
.mat-button, .mat-flat-button, .mat-icon-button, .mat-stroked-button {
    box-sizing: border-box;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: 0;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    min-width: 54px;
    line-height: 33px;
    padding: 0 16px;
    border-radius: 4px;
    overflow: visible;
    font-size: 10px;
}
.atalaunch{
    font-size: 10px;
}
.stroked-button {
    background-color: #fff;
    border: 2px solid #0078d2!important;
    color: #4db4fa;
    min-width: 115px;
    font-size: 16px;
    margin: 0 2px 0 5px!important;
    line-height: 22px!important;
    top: 2px;
}
.pleasewaitind {
    position: relative;
    top: 150px;
    background-color: #36495a!important;
    z-index: 100;
}