<div class="ownnoallcontainer">
    <div class="datacontainer">
        <div class="row">
            <div class="col-12 header-color">
                <b class="queue-header">Ownership No Allocation</b>
            </div>
        </div>
        <div class="row">
            <div class="col-12 dataright">
                <div>
                    <button mat-stroked-button class="exportbtn stroked-button" (click)="exporter.exportTable('xlsx', {fileName:'Ownership No Allocation summary'})">DOWNLOAD SUMMARY</button>
                    &nbsp;<button mat-stroked-button class="exportbtn stroked-button" (click)="exporter2.exportTable('xlsx', {fileName:'Ownership No Allocation detail'})">DOWNLOAD DETAIL</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mattablecontainer">
                <mat-progress-bar mode="query" [hidden]="hideLoading" class="pleasewaitind"></mat-progress-bar>
                <mat-table matTableExporter #exporter="matTableExporter" matSort [dataSource]="datasource" (matSortChange)="sortOwnershipNoAllocation($event)" class="mat-elevation-z8">
                    <ng-container matColumnDef="ME_PART_NUMBER">
                        <mat-header-cell *matHeaderCellDef mat-sort-header><b>M&E</b></mat-header-cell>
                        <mat-cell *matCellDef="let x">
                            <a mat-raised-button class="mebtn" href="javascript:void(0);" (click)="sendMeDetails(x.ME_PART_NUMBER.trim())">{{ x.ME_PART_NUMBER }}</a>
                            &nbsp;
                            <a mat-button color="primary" [routerLink]="['../ata/', x.ME_PART_NUMBER.trim()]" class="atalaunch" target="_blank">
                                <mat-icon>launch</mat-icon>
                            </a>                        
                        </mat-cell>
                    </ng-container>
                  
                    <ng-container matColumnDef="ME_OWNERSHIP">
                      <mat-header-cell *matHeaderCellDef mat-sort-header><b>OWNERSHIP</b></mat-header-cell>
                      <mat-cell *matCellDef="let x"> {{ x.ME_OWNERSHIP }} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="ME_RO_OPEN_QTY">
                      <mat-header-cell *matHeaderCellDef mat-sort-header><b>RO OPEN</b></mat-header-cell>
                      <mat-cell *matCellDef="let x"> {{ x.ME_RO_OPEN_QTY }} </mat-cell>
                    </ng-container>                    
                  
                    <ng-container matColumnDef="ME_PO_OPEN_QTY">
                        <mat-header-cell *matHeaderCellDef mat-sort-header><b>PO OPEN</b></mat-header-cell>
                        <mat-cell *matCellDef="let x"> {{ x.ME_PO_OPEN_QTY }} </mat-cell>
                      </ng-container>

                    <ng-container matColumnDef="ME_OH">
                        <mat-header-cell *matHeaderCellDef mat-sort-header><b>ON HAND</b></mat-header-cell>
                        <mat-cell *matCellDef="let x"> {{ x.ME_OH }} </mat-cell>
                      </ng-container>

                    <ng-container matColumnDef="COMMENTS">
                        <mat-header-cell *matHeaderCellDef mat-sort-header><b>COMMENTS</b></mat-header-cell>
                        <mat-cell *matCellDef="let x"> {{ x.COMMENTS }} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="LAST_UPDATES">
                        <mat-header-cell *matHeaderCellDef mat-sort-header><b>LAST UPDATES</b></mat-header-cell>
                        <mat-cell *matCellDef="let x"> {{ x.LAST_UPDATES | date :'yyyy-MM-dd' }} </mat-cell>
                    </ng-container>
                 
                    <mat-header-row *matHeaderRowDef="ownershipNoAllocation_displayedColumns; sticky: true;"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: ownershipNoAllocation_displayedColumns;"></mat-row>
                  </mat-table>   
            </div>
        </div>              
        <div class="row">
            <div class="col-12 mattablecontainer">
                <mat-table matTableExporter #exporter2="matTableExporter" [dataSource]="detaildatasource" class="mat-elevation-z8 detaildata">
                    <ng-container matColumnDef="ME_PART_NUMBER">
                        <mat-header-cell *matHeaderCellDef><b>ME PART NUMBER</b></mat-header-cell>
                            <mat-cell *matCellDef="let x">
                                {{ x.ME_PART_NUMBER }}                  
                            </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="ME_OWNERSHIP">
                        <mat-header-cell *matHeaderCellDef><b>ME OWNERSHIP</b></mat-header-cell>
                            <mat-cell *matCellDef="let x">
                                {{ x.ME_OWNERSHIP }}                  
                            </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="ME_OH">
                        <mat-header-cell *matHeaderCellDef><b>ME OH</b></mat-header-cell>
                            <mat-cell *matCellDef="let x">
                                {{ x.ME_OH }}                  
                            </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="ME_RO_OPEN_QTY">
                        <mat-header-cell *matHeaderCellDef><b>ME RO OPEN QTY</b></mat-header-cell>
                            <mat-cell *matCellDef="let x">
                                {{ x.ME_RO_OPEN_QTY }}                  
                            </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="ME_PO_OPEN_QTY">
                        <mat-header-cell *matHeaderCellDef><b>ME PO OPEN QTY</b></mat-header-cell>
                            <mat-cell *matCellDef="let x">
                                {{ x.ME_PO_OPEN_QTY }}                  
                            </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="LAST_UPDATES">
                        <mat-header-cell *matHeaderCellDef><b>LAST UPDATES</b></mat-header-cell>
                        <mat-cell *matCellDef="let x"> {{ x.LAST_UPDATES | date :'yyyy-MM-dd'  }} </mat-cell>
                      </ng-container>
            
                      <ng-container matColumnDef="COMMENTS">
                        <mat-header-cell *matHeaderCellDef><b>COMMENTS</b></mat-header-cell>
                        <mat-cell *matCellDef="let x"> {{ x.COMMENTS }} </mat-cell>
                      </ng-container>

                    <mat-header-row *matHeaderRowDef="ownershipNoAllocationDetail_displayedColumns; sticky: true;"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: ownershipNoAllocationDetail_displayedColumns;"></mat-row>
                </mat-table>
            </div>
        </div>
    </div>
</div>
