mat-header-row{
    top: -15px !important;
    position: sticky !important;
    z-index: 100 !important;
}
.mat-header-cell {
    flex-direction: column;
    justify-content: center;
    color: #fff;
    background-color: #36495a!important;
    font-size: 16px;
}
.mat-cell{
    font-size: 16px;
    text-align: center;
    justify-content: center;
}
.mat-row:nth-of-type(even){
    background-color: #f2f2f2;
}
.stroked-button {
    background-color: #fff;
    border: 2px solid #0078d2!important;
    color: #4db4fa;
    min-width: 115px;
    font-size: 16px;
    margin: 0 2px 0 5px!important;
    line-height: 22px!important;
    top: 2px;
}