.mepodetailcontainer{
    font-size: 12px;
    margin: auto;
    min-width: 80%;
    max-width: 98%;
}
.header{
    text-align: center;
}
table{
    font-size: 12px; 
}
.tableFixedHead {
    overflow-y: auto;
    width: 100%;
}
.tableFixedHead th{
    position: sticky;
    top: 0;
}
th, td {
    text-align: center;
}
.nowrap{
    white-space: nowrap;
}
.spinner-container{
    /* text-align: center; */
  
    /* margin: 0 auto;
    width: max-content; */
  
    position: absolute;
    left: 50%;
    top: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
.eotitle{
    position: relative;
    left: 45px;
    top: -25px;
}
table thead th{
    background-color: #36495a;
    color: #ffffff;
    font-family: AmericanSans;
    font-size: 16px;
    white-space: nowrap;
}