.meusedContainer{
    font-size: 12px;
    margin: auto;
    min-width: 80%;
    max-width: 98%;
}

table{
    font-size: 9px; 
}
th, td{
    border: 1px solid black
}
.centertext{
    text-align: center;
}
.eotitle{
    position: relative;
    left: 45px;
    top: -25px;
}
table thead th{
    background-color: #36495a;
    color: #ffffff;
    font-family: AmericanSans;
    font-size: 16px;
    white-space: nowrap;
}