.mat-bottom-sheet-container-large {
    min-width: 600px !important;
    max-width: calc(100vw - 356px);
    overflow: hidden !important;
}
.mat-bottom-sheet-container {
    padding: 8px 16px;
    min-width: 90vw !important;
    box-sizing: border-box;
    display: block;
    outline: 0;
    max-height: 80vh;
    overflow: hidden !important;
}
.pqacontainer{
    font-size: 12px;
    margin: auto;
    min-width: 80%;
    max-width: 98%;
    left: 20px;
    position: relative;
}

.color-yellow{
    color: yellow;
}
.color-orange{
    color: orange;
}
.textright-nopadding{
    text-align: right;
    padding-right: 0px;
}
.header-borders{
    border-top: 1px solid #dee2e6;
}
.queue-border-left{
    border-left: 1px solid #dee2e6;
}
.queue-border-right{
    border-right: 1px solid #dee2e6;
}
.queue-border-bottom{
    border-bottom: 1px solid #dee2e6;
}
.badge{
    font-size: 90%;
}
.dropped{
    background-color:#17a2b8;
    color:#ffffff
}
.badge{
    font-size: 80%;
}
