<div>
  <h5>
    Replenishment Station Guidelines:
  </h5>
  <ul>
    <li>
      Distribution centers (defined as D00, CLT, PHX and TUL) replenish themselves for all M&Es
    </li>
    <li>
      PIT replenishes itself for all M&Es due to the base activity
    </li>
    <li>
      Boeing (737, 777, and 787) replenish out of TUL/DFW
      <ul>
        <li>
          Leave TUL/DFW as currently allocated in system until AA1 is built
        </li>
        <li>
          Change to AA1 after it is in operation
        </li>
        <li>
          MCLA 777 replenishes from M01
        </li>
      </ul>
    </li>
    <li>
      Airbus (A320F)
      <ul>
        <li>
          East – Fill from CLT
        </li>
        <li>
          West – Fill from PHX
        </li>
        <li>
          Central – Fill from D00
        </li>
      </ul>
    </li>
    <li>
      Multi-fleet
      <ul>
        <li>
          East – Fill from CLT
        </li>
        <li>
          West – Fill from PHX
        </li>
        <li>
          Central – Fill from D00
        </li>
      </ul>
    </li>
    <li>
      Exceptions
      <ul>
        <li>
          M&Es with TUL home shop are distributed out of TUL
        </li>
        <li>
          Class 1 stations will replenish themselves for expendable hazmat M&Es
        </li>
      </ul>
    </li>
  </ul>
</div>
