;;;;
; npm userconfig file
; this is a simple ini-formatted file
; lines that start with semi-colons are comments.
; read `npm help config` for help on the various options
;;;;


@techops-ui:registry=https://packages.aa.com/artifactory/api/npm/npm-public/
@techops:registry=https://packages.aa.com/artifactory/api/npm/npm-public/
always-auth=true
