<div class="oprcontainer">
  <div class="row">
    <div class="col-12 dataleft">
      <span class="header-title"><b>{{ ruleType }}</b></span>
    </div>
  </div>
  <div class="row">
    <div class="col-12 dataright">
      <div>
        &nbsp;<button mat-stroked-button class="exportbtn stroked-button" (click)="exporter.exportTable('xlsx', {fileName:'Overdue POs and ROs'})">DOWNLOAD</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mattablecontainer">
      <mat-progress-bar mode="query" [hidden]="hideLoading" class="pleasewaitind"></mat-progress-bar>
      <mat-table matTableExporter #exporter="matTableExporter" matSort [dataSource]="datasource" (matSortChange)="sortOverduePOsandROs($event)" class="mat-elevation-z8">
        <ng-container matColumnDef="TYPE">
          <mat-header-cell *matHeaderCellDef mat-sort-header><b>TYPE</b></mat-header-cell>
          <mat-cell *matCellDef="let x">
            {{ x.TYPE }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="ORDER_NBR">
          <mat-header-cell *matHeaderCellDef mat-sort-header><b>ORDER NBR</b></mat-header-cell>
          <mat-cell *matCellDef="let x"> {{ x.ORDER_NBR }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="ORDER_STATUS">
          <mat-header-cell *matHeaderCellDef mat-sort-header><b>ORDER STATUS</b></mat-header-cell>
          <mat-cell *matCellDef="let x"> {{ x.ORDER_STATUS }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="ME_PART_NUMBER">
            <mat-header-cell *matHeaderCellDef mat-sort-header><b>ME PART NUMBER</b></mat-header-cell>
            <mat-cell *matCellDef="let x">
                <a href="javascript:void(0);" role="button" (click)="sendOPRDetails(x.ME_PART_NUMBER, x.ORDER_NBR)">{{ x.ME_PART_NUMBER }}</a>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="MFG_PART_NUMBER">
          <mat-header-cell *matHeaderCellDef mat-sort-header><b>MFG PART NUMBER</b></mat-header-cell>
          <mat-cell *matCellDef="let x"> {{ x.MFG_PART_NUMBER }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="LEADTIME">
          <mat-header-cell *matHeaderCellDef mat-sort-header><b>LEADTIME</b></mat-header-cell>
          <mat-cell *matCellDef="let x"> {{ x.LEADTIME }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="ORDER_DATE">
          <mat-header-cell *matHeaderCellDef mat-sort-header><b>ORDER DATE</b></mat-header-cell>
          <mat-cell *matCellDef="let x"> {{ x.ORDER_DATE | date:'yyyy-MM-dd' }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="OPEN_QTY">
          <mat-header-cell *matHeaderCellDef mat-sort-header><b>OPEN QTY</b></mat-header-cell>
          <mat-cell *matCellDef="let x"> {{ x.OPEN_QTY }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="MATL_STS_ALL">
            <mat-header-cell *matHeaderCellDef mat-sort-header><b>MATL STS ALL</b></mat-header-cell>
            <mat-cell *matCellDef="let x">
                <span *ngIf="x.MATL_STS_ALL == 'GOOD'" class="goodtext"><b>{{ x.MATL_STS_ALL }}</b></span>
                <span *ngIf="x.MATL_STS_ALL == 'NEED'" class="needtext"><b>{{ x.MATL_STS_ALL }}</b></span>
                <span *ngIf="x.MATL_STS_ALL == 'REVIEW'" class="reviewtext"><b>{{ x.MATL_STS_ALL }}</b></span>
                <span *ngIf="x.MATL_STS_ALL == 'TOOL'" class="tooltext"><b>{{ x.MATL_STS_ALL }}</b></span>
                <span *ngIf="x.MATL_STS_ALL == null" class=""><b>UNKNOWN</b></span>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="overduePOsandROs_displayedColumns; sticky: true;"></mat-header-row>
        <mat-row *matRowDef="let row; columns: overduePOsandROs_displayedColumns;"></mat-row>
      </mat-table>
    </div>
  </div>
</div>
<!-- <div class="oprcontainer">
    <div class="row">
        <div class="col-12 datacenter">
            <h6>{{ ruleType }}</h6>
        </div>
    </div>
    <div class="row" *ngIf="overduePoRo$ | async as overduePoRo">
        <div class="col-12">
            <div class="tableFixedHead">
                <table id="overduePoRo" class="table table-striped">
                    <thead class="thead-light">
                        <tr>
                            <th>TYPE</th>
                            <th>ORDER NBR</th>
                            <th>ORDER STATUS</th>
                            <th>ME PART NUMBER</th>
                            <th>MFG PART NUMBER</th>
                            <th>LEADTIME</th>
                            <th>ORDER DATE</th>
                            <th>OPEN QTY</th>
                            <th>MATL STS ALL</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let opr of overduePoRo">
                            <td>
                                {{ opr.TYPE }}
                               comment &nbsp;
                                <a class="badge badge-pill badge-info" role="button" [routerLink]="['/eo/eonumber', opr.EO_NUMBER]" target="_blank">
                                    <i class="fa fa-external-link fa-lg"></i>
                                </a> end comment
                            </td>
                            <td>
                                {{ opr.ORDER_NBR }}
                            </td>
                            <td>
                                {{ opr.ORDER_STATUS }}
                            </td>
                            <td>
                                <a href="javascript:void(0);" role="button" (click)="sendOPRDetails(opr.ME_PART_NUMBER, opr.ORDER_NBR)">{{ opr.ME_PART_NUMBER }}</a>
                                comment &nbsp;
                                <a [routerLink]="['/eo/dash8', opr.DASH_8]" class="" role="button" target="_blank" [title]="'Search DASH 8 : ' + opr.DASH_8">
                                    <i class="fa fa-external-link fa-lg" aria-hidden="true"></i>
                                </a> comment end
                            </td>
                            <td>
                                {{ opr.MFG_PART_NUMBER }}
                            </td>
                            <td>
                                {{ opr.LEADTIME }}
                            </td>
                            <td>
                                {{ opr.ORDER_DATE | date:'MM-dd-yyyy' }}
                            </td>
                            <td>
                                {{ opr.OPEN_QTY }}
                            </td>
                            <td>
                                {{ opr.MATL_STS_ALL }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
 -->
