<div class="ssdcontainer">
    <h2 mat-dialog-title>Station Shortage - {{ data.mePartNumberUsed }}</h2>
    <mat-dialog-content>
    <div class="row">
        <div class="col-12" *ngIf="stationShortageData$ | async as stationShortageData">
            <table>
                <thead>
                <tr>
                    <th>STATION</th>
                    <th>ON HAND</th>
                    <th>ITS</th>
                    <th>MAX QTY</th>
                    <th>THRESH HOLD</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let ssd of stationShortageData">
                    <td class="datacenter">{{ ssd.STATION }}</td>
                    <td class="datacenter">{{ ssd.ON_HAND }}</td>
                    <td class="datacenter">{{ ssd.ITS }}</td>
                    <td class="datacenter">{{ ssd.MAX_QTY }}</td>
                    <td class="datacenter">{{ ssd.THRSHLD }}</td>
                </tr>
                </tbody>
            </table>
            <br />
            <br />
        </div>
    </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
    <button mat-flat-button mat-dialog-close mat-dialog-close="false" type="button" class="closebtn" (click)="closeDialog()">Close</button>
    </mat-dialog-actions>
</div>
