body {
  position: relative;
}

.esrcontainer {
  overflow: hidden;
}

.label-top-20 {
  position: relative;
  top: 20px;
}

.center-text {
  text-align: center;
}

.selectlistcontainer {
  border: grey 1px solid;
  height: 300px;
  overflow-y: auto;
  width: 100%;
}

.selectlistcontainer2 {
  border: grey 1px solid;
  overflow-y: auto;
  width: 100%
}

.chkitind {
  position: relative;
  top: 35px;
}

.input200 {
  width: 200px;
}

.autoinput {
  position: relative;
}

.margintop60 {
  margin-top: 60px;
}

.search-result li {
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-top: 1px solid gray;
  width: 200px;
  height: 25px;
  padding: 5px;
  background-color: white;
  cursor: pointer;
  list-style-type: none;
  left: -40px;
  position: relative;
  z-index: 100;
}

.search-result li:hover {
  background-color: #607D8B;
}

.search-result li a {
  color: #888;
  display: block;
  text-decoration: none;
}

.search-result li a:hover {
  color: white;
}

.search-result li a:active {
  color: white;
}

table {
  font-size: 11px;
}

th,
td {
  border: 1px solid black;
  text-align: center;
}

.tableFixedHead {
  height: 500px;
  overflow-y: auto;
  width: 100%;
  display: none;
}

.tableFixedHead th {
  position: sticky;
  top: 0;
}

.tableFixedHeadModal {
  height: 475px;
  overflow-y: auto;
  width: 100%;
}

.tableFixedHeadModal th {
  position: sticky;
  top: 0;
}

.loadingEcoSpinner {
  position: relative;
  top: -32px;
  left: 100px;
}
.dash8-chip-list, .eoNumber-chip-list {
  width: 100%;
  font-size: 20px;
  top: 23px;
}
.mat-form-field-label{
  color: rgba(0, 0, 0, 0.87);
  text-align: center;
}
