<!--<h1>Greetings! Hello, world!</h1>
<p>Welcome to your new single-page application, built with:</p>
<ul>
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
  <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
</ul>
<p>To help you get started, we've also set up:</p>
<ul>
  <li><strong>Client-side navigation</strong>. For example, click <em>Counter</em> then <em>Back</em> to return here.</li>
  <li><strong>Angular CLI integration</strong>. In development mode, there's no need to run <code>ng serve</code>. It runs in the background automatically, so your client-side resources are dynamically built on demand and the page refreshes when you modify any file.</li>
  <li><strong>Efficient production builds</strong>. In production mode, development-time features are disabled, and your <code>dotnet publish</code> configuration automatically invokes <code>ng build</code> to produce minified, ahead-of-time compiled JavaScript files.</li>
</ul>
<p>The <code>ClientApp</code> subdirectory is a standard Angular CLI application. If you open a command prompt in that directory, you can run any <code>ng</code> command (e.g., <code>ng test</code>), or use <code>npm</code> to install extra packages into it.</p>-->
<!-- <script type="text/javascript">
  function initViz() {
    var containerDiv = document.getElementById("vizContainer");
    var url = "https://tableau.aa.com/views/SupplyChainDepartmentLevelDashboard/Fill_Rate_and_Stores?:embed=y&:showVizHome=n&:toolbar=top&%3AopenAuthoringInTopWindow=true&%3AbrowserBackButtonUndo=true&%3AcommentingEnabled=true&%3AreloadOnCustomViewSave=true&%3AshowAppBanner=false&%3AisVizPortal=true&iframeSizedToWindow=true&:apiID=host1#navType=0&navSrc=Opt";
    var options = {
              hideTabs: true,
              onFirstInteractive: function () {
                  console.log("Run this code when the viz has finished loading.");
              }
          };
      var viz = new tableau.Viz(containerDiv, url, options);
      // Create a viz object and embed it in the container div.
  }
  initViz();
</script>	 -->

<!-- <iframe width="100%" height="100%" src="https://tableau.aa.com/#/views/TESGRAPTH/Dashboard1?:iid=4:showVizHome=n&:toolbar=no&:openAuthoringInTopWindow=true&:browserBackButtonUndo=true&:commentingEnabled=true&:reloadOnCustomViewSave=true&:showAppBanner=false&:isVizPortal=true&iframeSizedToWindow=true&:apiID=host1#navType=0&navSrc=Opt&embed=y"></iframe> -->
  <!-- <iframe src="https://tableau.aa.com/views/TESGRAPTH/Dashboard1?%3Aembed=y&%3AshowVizHome=n&%3Atoolbar=no&%3AopenAuthoringInTopWindow=true&%3AbrowserBackButtonUndo=true&%3AcommentingEnabled=true&%3AreloadOnCustomViewSave=true&%3AshowAppBanner=false&%3AisVizPortal=true&iframeSizedToWindow=true&%3AapiID=host1#navType=0&navSrc=Opt&1"></iframe> -->
  <!-- <iframe id="tesgrapth" (src)="https://tableau.aa.com/views/TESGRAPTH/Dashboard1?ME_PART_NUMBER={{mePartNumber}}&:embed=y&:showVizHome=n&:toolbar=no&:openAuthoringInTopWindow=true&:browserBackButtonUndo=true&:commentingEnabled=true&:reloadOnCustomViewSave=true&:showAppBanner=false&:isVizPortal=true&iframeSizedToWindow=false&:apiID=host1#navType=0&navSrc=Opt&format=pdf"></iframe> -->

<!-- <div id="vizContainer" class="iframe-container">
  <iframe id="tesgrapth" [src]="sanitizer.bypassSecurityTrustResourceUrl(meurl)"></iframe>
</div> -->

