a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 12px;
}
@media (min-width: 768px) {
  html {
    font-size: 12px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.nav-tabs{
  border-bottom: none;
  font-size: 12px;
}
.dropdown-item {
  font-size: 12px;
}