<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="/mp">
    <img src="assets/images/AmericanAirlinesLogo.png" routerLink="/mp" alt="">
  </a>
  
  <ul class="nav nav-tabs">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">MENU</a>
      <div class="dropdown-menu">
        <a routerLink="ata" target="_blank" class="dropdown-item">ATA</a>
        <!-- <a routerLink="plq"  target="_blank"class="dropdown-item" href="#">Planner Queues</a> -->
        <a routerLink="eo/search"  target="_blank"class="dropdown-item">EO</a>
        <a routerLink="sm/sm-search" target="_blank" class="dropdown-item" href="#">SM</a>
        <a routerLink="report/general" target="_blank" class="dropdown-item" href="#">Report</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" target="_blank" href="https://tableau.aa.com/#/views/DOLReport/DOLDashboard?:showAppBanner=false&:display_count=n&:showVizHome=n&:origin=viz_share_link&:iid=1">DOL</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" target="_self" download="Fleet Reference.xlsx" href="assets/Fleet Reference.xlsx">Fleet Reference</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" target="_self" download="Fleet List.xlsx" href="assets/Fleet List.xlsx">Fleet List</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" target="_blank" href="https://asom.apps.aa.com/#/">ASOM</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" target="_blank" href="https://techopshub.me.aa.com/1.1/#/aircraft">SAFE</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" target="_blank" href="https://techopsk2.aa.com/Runtime/Runtime/Form/TEQApp.Home.Form">K2 Application Home</a>
    </li>
    <li class="nav-item">
      <a href="ata/replenishment-matrix" class="nav-link" target="_blank">Replenishment Matrix</a>
    </li>  
    <li class="nav-item">
      <a class="nav-link" target="_blank" href="https://spteam.aa.com/sites/maint/MaintPlan/Base/Planning/DockPlan/SitePages/Home.aspx">Dock Plan</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" target="_blank" href="https://app.powerbi.com/groups/me/reports/86690721-7123-44f0-bfe2-c2f31f8a80ed?ctid=49793faf-eb3f-4d99-a0cf-aef7cce79dc1">IO Dashboard</a>
    </li>
  </ul>
</nav>
<!-- <app-replenishment-matrix></app-replenishment-matrix> -->


