.smtitle{
    position: relative;
    left: 45px;
    top: -25px;
}

.header{
    text-align: center;
}

mat-table.dash8, mat-table.kitdetails{
    width: 4000px;
}

mat-table.kitpartstationdetails{
    width: 1400px;
}

mat-header-row{
    position: sticky !important;
    z-index: 100 !important;
    min-height: 45px;
}
.mat-header-cell {
    flex: 1;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    background-color: #36495a!important;
    font-size: 14px;
    font-family: 'AmericanSans';
    word-wrap: break-word;
    min-height: inherit;
    border: 1px solid #ffffff;
}

.table-container{
    overflow: auto;
}

.mat-row:nth-of-type(even){
    background-color: #f2f2f2;
}

.mat-cell{
    vertical-align: middle;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    border-left: 1px solid rgba(0, 0, 0, 0.12);
    border-right: 1px solid rgba(0, 0, 0, 0.12);
    margin-top: -1px;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

.mat-elevation-z8{
    box-shadow: none;
}
.mat-row:hover {
    color: #212529;
    background-color: rgba(0,0,0,.20);
}

mat-table.podetails{
    width: 3100px;
}
.mat-column-BUYER_EMPLOYEE_NUMBER,
.mat-column-PURCHASE_QTY_ON_ORDER{
    width: 180px !important;
    flex: 0 0 180px !important;
}
