.datacontainer{
    font-size: 12px;
    margin: auto;
    min-width: 80%;
    max-width: 98%;
    position: relative;
    top: -75px;
}
.datacenter{
    text-align: center;
}
.dataright{
    text-align: right;
    position: relative;
    top: -25px;
    font-size: 10px;
}
.aprrow:nth-of-type(even){
    background-color: #f2f2f2;
  }
.hoverable:hover {
    color: #212529;
    background-color: rgba(0,0,0,.20);
}
.mattablecontainer{
    height: 250px;
    overflow: auto;    
}
.mat-header-cell{
    flex-direction: column;
    justify-content: center;
}
mat-footer-row, mat-row {
    min-height: 35px;
}
.exportbtn{
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
}
.mebtn{
    /* display: inline-block; */
    padding: .25em .4em;
    font-size: 86%;
    font-weight: 700;
    line-height: 2;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    width: 100px !important;
    min-width: unset !important;
}
.mat-button-wrapper{
    position: relative;
    left: 10px;
}
.modal-button{
    line-height: 30px;
    background: white;
}

modal-button mat-flat-button mat-button-base{
    line-height: 30px;
    min-width: 54px;
    background: white;
    color: white !important;
    
}

.btnsavedrop{
    position: relative;
    left: 1301px;
    top: -110px;
}

.commentsection{
    position: relative;
    left: 10px;
    top: 10px;
}

.commentinput{
    border:black 1px;
}

.dropNextReview{
    position: relative;
    float: right;
    line-height: 1.5;
    top: -100px;
    left: -203px;
}
.mat-header-cell{
    color: #fff;
    background-color: #36495a!important;
    height: 50px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0px;
}
.mat-cell{
    font-size: 10px;
    text-align: center;
    justify-content: center;
    border: 1px solid#dee2e6;
    align-self: stretch;
}
.mat-row:nth-of-type(even){
    background-color: #f2f2f2;
}
.mat-row:hover {
    color: #212529;
    background-color: rgba(0,0,0,.20);
}
mat-cell:first-of-type, mat-footer-cell:first-of-type, mat-header-cell:first-of-type {
    padding-left: 0px;
}
mat-cell:last-of-type, mat-footer-cell:last-of-type, mat-header-cell:last-of-type {
    padding-right: 0px;
}
.selectalltbtn{
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    min-width: 30px;
    /* background-color: #007bff;
    color: #ffffff; */
    position: relative;
    top: -1px;
}
.stroked-button {
    background-color: #fff;
    border: 2px solid #0078d2!important;
    color: #4db4fa;
    min-width: 115px;
    font-size: 16px;
    margin: 0 2px 0 5px!important;
    line-height: 22px!important;
    top: 2px;
}
.pleasewaitind {
    position: relative;
    top: 150px;
    background-color: #36495a!important;
    z-index: 100!important;
}